SESSION_SECRET=<YOUR-SESSION-SECRET>
# run `openssl rand -hex 64` from the terminal for session secret
PORT=3000
CLOUDINARY_KEY_NAME=<YOUR-CLOUDINARY-KEY-NAME>
CLOUDINARY_API_KEY=<YOUR-CLOUDINARY-API-KEY>
CLOUDINARY_ENVIRONMENT=<YOUR-CLOUDINARY-ENVIRONMENT-NAME>